<h1>All Planets</h1>
<ul>
  <% @planets.each do |pl|%>
    <li> 
        <%= link_to "#{pl.name}", planet_path(pl) %>
    </li>
  <% end %>
</ul>
<br>
<%=link_to "See Your Info", user_path(@current_user)%>